* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  max-width: 1360px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a:hover {
  text-decoration: none;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.5);
}
.container {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 40px;
}
#header-logo {
  flex-shrink: 0;
  width: 200px;
}
#header.scroll {
  background: #fff;
}
.header-center {
  display: flex;
  align-items: center;
}
ul.header-menu {
  margin-bottom: 0px;
  list-style: none;
  gap: 32px;
}
.header-menu a {
  font-size: 14px;
  text-decoration: none;
  padding-bottom: 16px;
  color: #555;
  font-weight: 600;
  position: relative;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.header-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #1e88e5; 
  transform: scaleX(0); 
  transform-origin: left;
  transition: transform 0.3s ease;
}
.header-menu a:hover::after {
  transform: scale(1);
}

.header-menu li.current-menu-item > a {
    color: #1e88e5;
}
.header-menu li.current-menu-item > a::after {
    transform: scaleX(1);
}

.header-menu a.scrolled-active {
  color: #555; 
}
.header-menu li.current-menu-item.is-scrolled > a {
    color: #555;
}




.header-search {
  cursor: pointer;
  margin-left: 20px;
}
.header-search:hover {
  /* transform: rotate(450deg); */
  transition: all 0.9s ease;
}
.mobile {
  display: none;
}
.button {
  background-color: #ff3873;
  text-decoration: none;
  color: #ffff;
  padding: 10px 15px;
  white-space: nowrap;
}
.button:hover {
  transition: all 0.3s;
  cursor: pointer;
  background-color: #ffff;
  color: #ff3873;
  border: 1px solid #ff3873;
}
.bars,
.backdrop {
  display: none;
}
.form-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateY(-100%);
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  padding: 0 27px;
}
.form-search.active {
  transform: translateY(0);
}
.form-search input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}
.close-search {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #333;

  margin-left: 20px;
}

@media (max-width: 1330px) {
  .container {
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .header-center {
    order: 3;
    flex-basis: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 981px) {
  .container {
    justify-content: space-between;
    padding: 15px 20px;
  }
  .header-center,
  .header-right .button {
    display: none;
  }
  .mobile {
    display: flex;
    align-items: center;
  }
  .bars {
    display: block;
    padding-left: 25px;
    background: none;
    outline: none;
    font-size: 25px;
    color: #1e88e5;
    cursor: pointer;
  }

  /* backdrop */
  .backdrop {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 68px;
    left: 0;
    right: 0;
    max-width: 90%;
    border-top: 3px solid #1e88e5;
    margin: 0 auto;
    background: #fff;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.7s ease;
  }
  .backdrop-container {
    padding: 41px 41px 0px;
    margin-bottom: 10px;
  }
  .backdrop.active {
    opacity: 1;
    transform: translateY(0);
  }

  .list-backdrop li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .list-backdrop a {
    color: #666;
    text-decoration: none;
    display: block;
    padding: 10px 37px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  }
  .list-backdrop li:hover a {
    color: #000;
    background-color: rgba(0 0, 0, 0.03);
  }
  .box-button {
    display: flex;
    flex-direction: column;
  }
  .backdrop .button {
    padding-left: 78px;
  }
}
