/* ===CONTENT=== */
/* ---banner--- */
section.section_banner {
  position: relative;
}
section.section_banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section_banner .box-text {
  position: absolute;
  bottom: 30px;
  left: 50px;
}
.section_banner .box-text .box-title {
  background: #0c1332;
  padding: 1px 20px;
}
.section_banner .box-text .box-title h3 {
  font-size: 32px;
  color: #fff;
}
/* ---intro--- 1 */
section.section_intro {
  padding: 54px 180px;
}
section.section_intro .box-head {
  padding: 28px 0px;
}

section.section_intro h4.heading-title {
  line-height: 1.2;
  margin-bottom: 30px;
  font-size: 26px;
}
section.section_intro .box-body {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

section.section_intro .box-body .box-left {
  max-width: 450px;
}
section.section_intro .box-body .box-right {
  max-width: 450px;
}

/* intro-2 */
section.section_intro_2 a {
  text-decoration: none;
  color: #2ea3f2;
}
section.section_intro_2 a:hover {
  color: #ff3873;
}
section.section_intro_2 .box-link {
  text-align: right;
}
section.section_intro_2 .box-link a {
  /* display: inline-block; */
  color: #555;
}
section.section_intro_2 .box-link a:hover {
  color: #ff3873;
}
/*---section_snapshot--- */
section.section_snapshot {
  background-color: #f1f2f2;
  padding: 54px 80px;
}
section.section_snapshot h4 {
  font-size: 30px;
  text-align: center;
}
section.section_snapshot .box-content {
  justify-content: space-between;
  display: flex;
  padding: 30px 0px;
  margin: 20px 30px;
}
section.section_snapshot .box-content .box {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.section_snapshot img {
  margin-bottom: 33px;
  min-height: 100px;
  max-height: 120px;
}
section.section_snapshot .box-head,
section.section_snapshot .box-body {
  text-align: center;
}
section.section_snapshot .box-body span {
  font-size: 72px;
  font-weight: bold;
}
section.section_snapshot .box-body h3 {
  font-size: 23px;
  font-weight: bold;
}
/*---end section_snapshot--- */
/* section_encourage */

.section_encourage {
  background-color: #f1f2f3;
  padding: 50px 30px;
}

.section_encourage h4.heading-title {
  text-align: center;
  font-size: 27px;
  padding: 30px;
}

.section_encourage ul.list-recommend {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}
.section_encourage li.item-recommend {
  position: relative;
  flex: 1 1 calc(33.333% - 20px);
}
.section_encourage li.item-recommend img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_encourage li.item-recommend .box {
  position: absolute;
  top: 0;
  color: #f1f2f3;
  padding: 20px 30px;
}
.section_encourage li.item-recommend .box .main-heading {
  font-size: 32px;
}
/* end section_encourage */
/* intro_3 (industry) */
.section_industry .box-link {
  margin-top: 20px;
  text-align: right;
}
.section_industry .box-link a {
  text-decoration: none;
  color: #555;
}
.section_industry .box-link:hover a {
  color: #ff3873;
}
/* end intro_3 */
/* solution */

/* end solution */
